html {
   scroll-behavior: smooth;
}

body {
   font-family: monospace;
}

#site-title {
   text-align: center;
}

#site-title span {
   display: block;
   font-size: .8em;
   color: #808080;
}

#menu ul {
   display: block;
   margin: 0;
   padding: 0;
   decoration: none;
}

#menu ul li {
  display: inline-block;
}

#menu ul li a {
   display: block;
   width: 5em;
   pagging: 1em 2em;
   font-size:1.6;
   color: #fff;
   background-color: #000;
}

#menu ul li a:hover {
   background-color: #808080;
}

p {
   font-size: 1.5em;
   line-height: 2em;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
